body {
  font-family: "Lato", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #003c30;
  font-weight: 300;
}

#tale, #facts, nav {
  height: 200px;
  /* outline: red solid 1px; */
}

#tale {
  color: #01665e;
  font-size: 1.5em;
  font-weight: 300;
}

#facts {
  color: #01665e;
  font-size: 0.8em;
  font-weight: 300;
}

text.axis, text.frequency, .var-range {
  stroke: #01665e;
  stroke-width: 0.3;
}

text.frequency {
  opacity: 0;
}

#facts > svg > g > g.bar.filtered > text {
  opacity: 1;
}

.punchline {
  font-weight: 400;
}

.notice {
  color: red;
}

.btn, .btn:active, .btn:visited {
  color: #543005;
  font-weight: 300;
  background-color: #f6e8c3;
  border-color: #543005;
}

.btn:hover {
  color: #003c30;
  font-weight: 400;
  background-color: #c7eae5;
  border-color: #003c30;
}

.ct, .ct:visited {
  color: #543005;
  text-decoration: none;
  font-size: 1em;
  font-weight: 300;
}

#cloud {
  width: 900px;
  height: 350px;
  position: relative;
    /* outline: red solid 1px; */

}

#cloud .text, .tick, .domain {
  stroke: #01665e ;
  stroke-width: 0.5;
  font-size: 1em;
  font-weight: 100;
}

.tick line{
  color: #543005;
  opacity: 0.4;
}

#boxplots{
  width: 300px;
  height: 350px;
  float: left;
  position: relative;
    /* outline: red solid 1px; */
}   

.tooltip {
  white-space: pre;
  max-width: none;
}

.tooltip > .tooltip-inner {
  background-color: #01665e;
}

.popover {
  white-space: pre;
  max-width: none;
}

svg {
    position: relative;
    top: 0;
    left: 0;
}

#dLabel, #dLabel:active, #dLabel:visited {
  color: #003c30;
  font-weight: 300;
  background-color: #c7eae5;
  border-color: #003c30;
}

#dLabel:hover {
  color: #543005;
  font-weight: 400;
  background-color: #f6e8c3;
  border-color: #543005;
}

#dropdown {
  text-align: center;
}

#explore > li > a {
  font-weight: 300;
  color: #543005;
}

/* the color scale
#543005  dark brown
#8c510a
#bf812d
#dfc27d
#f6e8c3
         light
#c7eae5
#80cdc1
#35978f
#01665e
#003c30  dark blue */

circle {
  fill: #f6e8c3;
  stroke: #dfc27d;
  stroke-width: 0.7;
  opacity: 0.4;
}

circle.filtered {
  fill: #80cdc1;
  stroke: #003c30;
  stroke-width: 0.7;
  opacity: .6;
}


#box0 rect {
  fill: #f6e8c3;
  stroke: #543005;
  stroke-width: 1;
}

#box0 line.center {
  stroke-dasharray: 3, 3;
  stroke-width: 1;
}

#box0 text.median {
  color: #35978f;
}

#box0 line {
  stroke: #543005;
  stroke-width: 3;
}


#box0 line.median {
  stroke: #35978f;
  stroke-width: 3;
}

#box0 .outlier {
  fill: none;
  stroke: #543005;
  stroke-width: 1;
}


#box1 rect {
  fill: #c7eae5;
  stroke: #003c30;
  stroke-width: 0.7;
}

#box1 line.center {
  stroke-dasharray: 3, 3;
  stroke-width: 1;
}

#box1 line {
  stroke: #003c30;
  stroke-width: 3;
}


#box1 line.median {
  stroke: #bf812d;
  stroke-width: 2.5px
}

#box1 text.median {
  color: #003c30;
}

#box1 .outlier {
  fill: none;
  stroke: #003c30;
  stroke-width: 1;
}

.bar rect {
  fill: #c7eae5;
  shape-rendering: crispEdges;
}

.filtered rect {
  fill: #35978f;
  shape-rendering: crispEdges;
}


/* animated loading spinner
 * http://www.bootply.com/128062
 * */

#spinner{
  margin: 200px auto;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(2) rotate(0deg);}
    to { transform: scale(2) rotate(360deg);}
}
